body {
    font: 20px Helvetica, sans-serif;
    color: #333;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 28px;
}
table {
    font-size: 24px;
}
body {
    width: 500px;
    margin: 20px auto;
}
